
* {
    margin: 0;
    padding: 0;
}

body {
    /*background-image: url("../img/side-photo.png");*/
    background-color: rgba(176, 225, 118, 1);
    margin: 0;
}

.wrapper {
    width: 750px;
    margin: 0 auto;
}

.header {
    display: block;
    height: 195px;
    background: url("../img/header.png") no-repeat;
}

.tomato {
    position: relative;
    right: -516px;
    top: 100px;
}

.apples {
    position: relative;
    left: -250px;
    top: -70px;
}

.company-name,
.company-slogan {
    display: block;
    position: relative;
    font-weight: bold;
    font-family: "Arial Narrow", Arial, sans-serif;
}

.company-name {
    top: -215px;
    left: 240px;
    font-size: 30px;
    font-style: italic;
    color: rgba(228, 80, 22, 1);
}

.company-slogan {
    top: -195px;
    left: 240px;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
}

.menu {
    background-color: rgba(255, 1, 0, 1);
}

.menu-list {
    margin: 0;
    padding: 16px;
    list-style-type: none;
}

.menu-list li {
    display: inline;
}

.menu-list li::after {
    content: " | ";
    color: #ffffff;
    font-weight: bolder;
}

.menu-list li:last-child::after {
    content: "";
}

.menu-list li a {
    color: #ffffff;
    font-size: larger;
    text-decoration: none;
    padding: 4px 10px;
    position: relative;
    top: 0;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
    transition: .12s ease-in-out .04s;

}

.menu-list li a:hover {
    top: -4px;
    box-shadow: 0 2px 0 0 rgba(255, 255, 255, 0.85);
}

.posts,
.posts-bg-image {
    display: table-cell;
}

.posts {
    width: 545px;
    vertical-align: top;
    margin: 0;
    font-family: "Arial Narrow", Arial, sans-serif;
}

.posts-bg-image {
    width: 200px;
    vertical-align: bottom;
    position: relative;
    right: 6px;
    z-index: -1;
}

.post {
    margin-bottom: 25px;
}

.post-text p {
    text-indent: 10px;
}

.post .post-img img {
    outline: 2px solid black;
    margin: 10px;
}

.post-note .post-img img {
    outline: none;
}

.post-note {
    width: 535px;
    margin-left: 10px;
    background-color: rgba(187, 239, 169, 1);
}

.post-note .post-img,
.post-note .post-text {
    display: table-cell;
}

.post-note .post-img {
    padding: 5px;
    vertical-align: middle;
}

.post-note .post-text {
    padding: 10px;
    vertical-align: top;
}

.post-list {
    margin-left: 15px;
}

.post-list .post-text {
    display: list-item;
    list-style-type: none;
    padding-left: 55px;
    background: url("../img/list-style-type-tomato.png") no-repeat 0 10px;
    margin-bottom: 15px;
}
