.form-fields {
    width: 600px;
    margin: 0 auto;
    margin-top: 35px;
}

.form-row label,
.form-row input[type=text],
.form-row input[type=email],
.form-row textarea {
    display: inline-block;
    width: 48%;
    margin-bottom: 15px;
}

.form-row input[type=text],
.form-row input[type=email],
.form-row textarea {
    text-align: center;
    border: 1px solid rgba(182, 182, 182, 1);
    border-radius: 5px;
    padding: 5px;
}

.form-row input[type=text]:hover,
.form-row input[type=email]:hover,
.form-row textarea:hover,
.form-row input[type=text]:active,
.form-row input[type=email]:active,
.form-row textarea:active {
    box-shadow: 0 0 4px 0 rgb(1, 92, 255);
}

.form-row label {
    text-align: center;
}

.textarea-label {
    position: relative;
    top: -40px;
}

.form-row textarea,
.form-row input[type=email],
.form-row input[type=text] {
    text-align: left;
}

.submit {
    text-align: center;
}

.submit input[type=submit] {
    padding: 10px 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: rgb(255, 158, 68);
    color: white;
}

.submit input[type=submit]:hover {
    box-shadow: 0 0 4px 0 rgb(1, 92, 255);
}

.form-description {
    text-align: right;
    color: rgba(255, 0, 0, 1);
}